{% load feincms_page_tags incunafein_tags %}
{% menuitems css_id %}
{% for nav_page in entries %}
    {% with nav_page|equals:feincms_page as is_current %}
    {% menuitem "" nav_page.slug is_current|then:'selected' %}
    {% if is_current %}
        <span>{{ nav_page.title }}</span>
    {% else %}
        <a href="{{ nav_page.get_absolute_url }}"><span>{{ nav_page.title }}</span></a>
    {% endif %}
    {% if nav_page|is_equal_or_parent_of:feincms_page %}{% feincms_page_menu feincms_page "" level|add:1 depth %}{% endif %}
    {% endmenuitem %}
    {% endwith %}
{% endfor %}
{% endmenuitems %}

